html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}
.nomargin {
    margin: 0;
}
main {
    height: 100%;
}
header {
    background-color: #D6D3B6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7%;
}
header img {
    height: 1400%;
}
header h1 {
    font-size: 40px;
}
header ul {
    display: flex;
    flex-direction: row;
}
header li {
    list-style: none;
    padding-right: 10px;
}
header a {
    text-decoration: none;
}
footer {
    background-color: #D6D3B6;    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6%;
}
#main_accueil {
    background-color: #C0C8D6;
    height: 87%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}
#main_accueil h2 {
    font-size: 30px;
}
#main_accueil li {
    list-style: none;
}
#main_accueil a {
    text-decoration: none;
}
#main_liste {
    background-color: #C0C8D6;
    height: 87%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    width: 100%;
}
#main_liste h2 {
    font-size: 30px;
}
#tableau th {
    width: 20%;
    border: 1px solid black;
}